.text-color-third
  color #999

.text-color-second
  color #666

.pull-right
  float right

.ml-30
  margin-left 30px

.mr-30
  margin-right 30px

.mr-10
  margin-right 10px

.ml-10
  margin-left 10px

html
  font-size: 14px

html body
  font-size: 14px

